@import url(contact.css);
@import url(header.css);

/* ================================= */

/*           1- Common Styles        */
/* ================================= */

/* --- Overlay --- */

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
}

/* --- Hover Opacity Effect --- */
.hover-opacity {
    transition: opacity 0.5s;
}

.hover-opacity:hover {
    opacity: 0.8;
}

/* ================================= */
/*          2- General Styles        */
/* ================================= */

/* --- Global Reset and Utilities --- */

:root {
    --main-color: #1695ff;
    --subColor: #fff;
    --grayColor: #999;

}

body {
    font-family: 'Varela Round', sans-serif;
}

.clear {
    clear: both;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

.pd-y {
    padding: 120px 0;
}

/* --- Typography --- */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'montserrat', sans-serif;
}

button {
    font-family: inherit;
}

ul {
    list-style: none;

}

a {
    text-decoration: none;
}

/* --- Section Header --- */
.section-header {
    text-align: center;
}

.section-header .section-title {
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.section-header .line {
    display: block;
    margin: 0 auto 70px auto;
    width: 70px;
    height: 3px;
    background-color: #1695ff;
}

/* --- Hover Effects (LTR) --- */
.ltr-effect,
.ttb-effect {
    position: relative;
}

.ltr-effect:after,
.ttb-effect:after {
    position: absolute;
    content: "";

    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

.ltr-effect:after {
    width: 0%;
    background: #00918ab7;
    transition: width 0.5s;

}

.ltr-effect:hover:after {
    width: 100%;
}

/* --- Hover Effects (ttb) --- */

.ttb-effect:after {
    width: 100%;
    height: 0%;
    background: #000000;
    transition: height 0.5s;
}

.ttb-effect:hover:after {
    height: 100%;
}

/* ================================= */
/*         3- Sections Styles        */
/* ================================= */

/* ============================= */
/* 3.0 Header Section Styles     */
/* ============================= */
.container {
    width: 80%;
    margin: auto;
}

/* ============================= */
/* 3.1 Home Section Styles       */
/* ============================= */
.home {
    position: relative;
    height: 100vh;
    background-image: url(../images/background1.jpg);
    background-size: cover;
}

.home-contant {
    position: absolute;
    width: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.home .title {
    color: var(--subColor);
    font-size: 3.5rem;
    text-transform: uppercase;
}

.home .home-desc {
    margin: 20px 0;
    color: var(--subColor);
    letter-spacing: 2px;
    line-height: 1.5;
}

.home .btn {
    min-width: 160px;
    padding: 15px 0;
    border-radius: 10px;
    cursor: pointer;
    font-size: 17px;
}

.home .btn-start {
    margin-right: 10px;
    background-color: var(--subColor);
}

.home .btn-learn {
    background-color: var(--main-color);
    color: var(--subColor);
}

/* ============================= */
/* 3.2 About Section Styles      */
/* ============================= */
.about {
    position: relative;
}

.about-content {
    /* margin-left: ; */
    overflow: hidden;
}

.about-item {
    width: 30%;
    height: 288px;
    float: left;
    text-align: center;
    border: 1px solid #e8e8e8;
    padding: 50px 20px;
}

.about-item.mg {
    margin: 0 5%;
}

.about-item .icon {
    color: var(--main-color);
    margin-bottom: 10px;
}

.about-item-title {
    text-transform: capitalize;
    margin-bottom: 10px;
}

.about-item-desc {
    margin-bottom: 10px;
    line-height: 1.5;
}

.about-item-link {
    color: var(--main-color);
    text-transform: capitalize;
}

.about-item:hover .about-item-title {
    color: var(--subColor);
    transition: 0.5;
}

/* ============================= */
/* باقي الأقسام بنفس النمط ...   */
/* ============================= */

/* ============================= */
/* 3.3 Portfolio Section Styles  */
/* ============================= */

.portfolio {
    background: #f9f9f9;
}

/* .portfolio-contant {
    overflow: hidden;
} */

/* --- Portfolio Items --- */
.portfolio-item {
    float: left;
    width: 32%;
    margin-bottom: 60px;
    padding: 20px;
    position: relative;
}

.portfolio-item.mg {
    margin: 0 2%;
}

.portfolio-item img {
    width: 100%;
}

/* --- Portfolio Hover Layer --- */
.portfolio-item .layer-contant {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
}

.portfolio-item:hover .layer-contant {
    opacity: 1;
    visibility: visible;
}

/* --- Portfolio Layer Content --- */
.layer-contant .layer-container {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 80%;
}

.layer-contant .category {
    color: var(--main-color);
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
    position: relative;
    top: 10px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.layer-contant-title {
    font-size: 20px;
    color: var(--subColor);
    margin-bottom: 5px;
    position: relative;
    top: 10px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    transition-delay: 0.2s;
}

.layer-container a i {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: var(--main-color);
    line-height: 40px;
    position: relative;
    top: 10px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    transition-delay: 0.3s;
}

.layer-contant .icon {
    color: var(--subColor);
}

/* --- Hover Effects for Portfolio Items --- */
.portfolio-item:hover .layer-contant-title,
.portfolio-item:hover .layer-contant a i,
.portfolio-item:hover .layer-contant .category {
    top: 0;
    opacity: 1;
    visibility: visible;
}

/* ============================= */
/* 3.4 Offer Section Styles      */
/* ============================= */

.offer {
    position: relative;
}


/* .offer-contant {
    overflow: hidden;
}
 */

/* --- Offer Items --- */
.offer-item {
    position: relative;
    width: 30%;
    float: left;
    margin-bottom: 20px;
    border: 1px solid #e8e8e8;
    padding: 30px 15px 30px 70px;
}

.offer-item.mg {
    margin: 0 5%;
}

.offer-item .icon {
    position: absolute;
    left: 15px;
    top: 35px;
    color: var(--main-color);
}

/* --- Offer Item Content --- */
.offer-item-title {
    color: #000;
    margin-bottom: 20px;
    text-transform: capitalize;
    line-height: 1.6;
    transition: 0.5s;
}

.offer-item-desc {
    color: var(--grayColor);
    transition: 0.5s;
}

/* --- Hover Effects for Offer Items --- */
.offer-item:hover .offer-item-title,
.offer-item:hover .offer-item-desc {
    color: var(--subColor);
}




/* ============================= */
/* 3.5 Service Section Styles      */
/* ============================= */



.service {
    background-color: #f9f9f9;
}

.service-item {
    width: 50%;
    float: left;
}



.service-item .section-header {
    text-align: left;
}

.service-item .section-header .line {
    margin: 0 0 40px 0;
}

.service-item-desc {
    padding-right: 20px;
    color: var(--grayColor);
    line-height: 1.5;
    font-size: 18px;
    margin-bottom: 20px;
}

.service-list {
    list-style: none;
}

.service-list li {
    margin-bottom: 10px;
    color: var(--grayColor);
}

.service-list li i {
    border: 1px solid var(--main-color);
    color: var(--main-color);
    width: 30px;
    height: 30px;
    padding: 7px;
    border-radius: 50%;
}

.service-item-img img {
    width: 100%;
}



.service-bollets {
    list-style: none;
    text-align: center;
}

.service-bollets li {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #e8e8e8;
    margin: 10px 5px;
    border-radius: 50%;
}

.service-bollets li.active {
    background-color: var(--main-color);
}

.service-bollets li:hover {
    background-color: var(--main-color);
}



/* ============================= */
/* 3.6 numbers Section Styles      */
/* ============================= */

.numbers {
    position: relative;
    background-image: url(../images/background2.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
}

.numbers-items {
    overflow: hidden;
}

.number-item {
    padding: 100px 0;
    width: 25%;
    float: left;
    text-align: center;

}

.number-item .icon {
    color: var(--main-color);
    margin-bottom: 15px;
}

.number-item-title {
    font-weight: bold;
    font-size: 30px;
    color: var(--subColor);
}

.number-item-text {
    color: var(--subColor);
}

/* ============================= */
/* 3.6 Pricing Section Styles      */
/* ============================= */



/* .pricing-plans {
    overflow: hidden;

} */

.pricing-item {
    width: 30%;
    float: left;
    border: 1px solid #0850eb5b;
    text-align: center;
    padding: 40px 15px;
    box-shadow: 8px 9px 3px rgba(1, 131, 148, 0.884);
    transition: box-shadow 0.5s ease;
    /* Add shadow */
}

.pricing-item.mg {
    margin: 0 5%;
}




.pricing-item-text {
    text-transform: uppercase;
    font-size: 17px;
    color: var(--grayColor);
    transition: color 0.5;


}

.pricing-item-permonth {
    width: 130px;
    height: 130px;
    padding: 20px 0;
    margin: 20px auto;
    border-radius: 50%;
    border: 2px solid var(--main-color);
    transition: color 0.5, border-color 0.5s;

}

.pricing-item-permonth .doller {
    font-size: 50px;

}

.pricing-item-permonth .month {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;

}

.pricing-item-list {
    list-style: none;
    line-height: 1.6;
    transition: color 0.5;

}

.pticing-item-purcharse {
    background: none;
    border: 0;
    display: block;
    width: 140px;
    border: 2px solid #1696ff;
    padding: 10px;
    margin: 15px auto 0 auto;
    color: #1696ff;
    transition: color 0.5, border-color .5s;

}

.pricing-item:hover .pricing-item-permonth,
.pricing-item:hover .pticing-item-purcharse {
    color: var(--subColor);
    border-color: rgb(246, 255, 253);
}

.pricing-item:hover .pricing-item-text,
.pricing-item:hover .pricing-item-list {
    color: var(--main-color);
}

.pricing-item:hover {
    box-shadow: 8px 9px 3px rgba(0, 0, 0, 0.356);
    /* Shadow changes to red */
}


/* ============================= */
/* 3.7 Testimonial-Section-Styles  */
/* ============================= */



.testimonail {
    position: relative;
    background-image: url(../images/background3.jpg);
    background-attachment: fixed;
    height: 400px;
}

.testimonail-content {
    overflow: hidden;
    padding: 120px 0;
    width: 80%;
    margin: auto;
}

.testimonail-item {
    width: 50%;
    float: left;
    color: var(--subColor);
}

.testimonail-item img {
    width: 10%;
}

.testimonail-item .testimonail-toplayer {
    padding: 10px 2px 40px 100px;
    position: relative;
}

.testimonail-item .testimonail-toplayer img {
    position: absolute;
    left: 5px;
    top: 10px;
    border-radius: 50%;

}

.testimonail-toplayer-name {
    margin: 5px 0;
    text-transform: capitalize;
}

.testimonail-item .testimonail-toplayer span {
    color: var(--main-color);
}

.testimonail-desc {
    line-height: 1.5;
    font-size: 17px;
}



/* ============================= */
/* 3.7 team-Section-Styles  */
/* ============================= */

/* .team-content {
    overflow: hidden;
} */

.team-item {
    background-color: rgb(143, 255, 255);
    text-align: center;
    width: 30%;
    float: left;
    padding: 40px 10px;
}

.team-item-photo {
    width: 90%;
    margin: auto;
    position: relative;
}

.team-item-photo img {
    width: 100%;
}

.team-item-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.team-item-overlay a {
    display: block;
    width: 40px;
    height: 40px;
    color: var(--subColor);
    background-color: #7ba7ff;
    margin-left: auto;
}

.team-item-overlay i {
    line-height: 1.6;
}

.team-item .team-item-title {
    color: #222;
    text-transform: capitalize;
    margin: 10px 0;
    transition: 0.5s;

}

.team-item .team-item-info-text {
    text-transform: uppercase;
    color: var(--grayColor);
    font-size: 15px;
    transition: 0.5s;
}


.team-item.mg {
    margin: 0 5%;
}

.team-item:hover .team-item-overlay {
    opacity: 1;
    visibility: visible;
}

.team-item:hover .team-item-title {
    color: var(--subColor);
}

.team-item:hover .team-item-info-text {
    color: #6195ff;
}

.team-item.ttb-effect {
    z-index: 10;
}



/* ============================= */
/* 3.7 blog-Section-Styles  */
/* ============================= */

.blog {
    background: #f8f8f8;

}

.blog-item {
    background: #ffffff;
    width: 30%;
    float: left;
    /* box-shadow: 8px 9px 3px rgba(32, 81, 87, 0.25); */

    padding: 0 0 30px 0;
}

.blog-info {
    padding: 20px;
}

.blog-item.mg {
    margin: 0 5%;
}

/* .blog-content {
    overflow: hidden;
} */

.blog-item-img {
    width: 100%;
}


.blog-item-img img {
    width: 100%;
}

.blog-list {
    list-style: none;
    margin: 10px 0;
}

.blog-list li {
    display: inline-block;
    font-size: 20px;
    text-transform: capitalize;
    margin: 0 5px;
}

.blog-item .icon {
    color: var(--main-color);
    font-size: 20px;
}


.blog-item-title {
    font-weight: bold;
    margin-bottom: 20px;
}

.blog-item-desc {
    margin: 10px 0 0 0;
    color: var(--grayColor);
    line-height: 1.5;
}


.blog-button {
    font-size: 15px;
    /* border: 0; */
    background: none;
    color: var(--main-color);
    margin: 10px 30px 20px 15px;
}




/* ============================= */
/* 3.7 footer us-Section-Styles  */
/* ============================= */

.footer {
    padding: 60px;
    background: #1c1d21;
    text-align: center;
}

.footer .footer-list-item {
    list-style: none;
    margin: 20px 0;

}

.footer-list-item li {
    display: inline-block;
}

.footer-list-item li a {
    display: block;
    width: 50px;
    height: 50px;
    background: var(--main-color);
    color: var(--subColor);
    margin: 0 5px;
    border-radius: 50%;
}

.footer-list-item li a i {
    line-height: 50px;
}

.footer .copyright {
    color: var(--grayColor);
    font-size: 15px;
    text-transform: uppercase;
}